
/* https://cssgradient.io/ */
body {
    background: rgb(255,115,0);
    background: linear-gradient(145deg, rgba(255,115,0,1) 0%, rgba(255,153,0,1) 100%);
    background-attachment: fixed;
}

body:after
{
/*    This section preloads after-effect icons images*/
    content:    url("assets/star_border.svg") url("assets/star_border_highlighted.svg") 
                url("assets/star_filled.svg") url("assets/star_filled_highlighted.svg")
                url("assets/bitcoin-logo.svg");
    display: none;
}

.main_content {
    width: 70%;
    min-height: 95vh;
    background-color: white;
    margin: 0 auto;
    border-radius: 50px;
    padding: 0px 50px 0px 50px;
    box-shadow: 2px 2px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.title {
    padding: 5%;
    text-align: center;
}

.menu_text {
    font-size: 13px;
}

.error {
    padding: 5%;
    text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Table */
/* https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
/* box-shadow none|h-offset v-offset blur spread color |inset|initial|inherit */

.table {
    padding: 0%;
    margin: 0 auto;
}

.header_row {
    font-size: 17px;
}

.normal_row {
    font-size: 15px;
}

.table_header_item_left {
    text-align: left;
    max-width: 100px;
    padding: 15px 0px 15px 20px;
    box-shadow: orange 0px -3px 0px 0px inset;
}

.table_header_item_right {
    text-align: right;
    padding: 15px 0px 15px 20px;
    box-shadow: orange 0px -3px 0px 0px inset;
}

.table_header_item_center {
    text-align: center;
    padding: 15px 10px 15px 10px;
    box-shadow: orange 0px -3px 0px 0px inset;
}

.table_normal_item_left {
    text-align: left;
    max-width: 100px;
    padding: 15px 0px 15px 20px;
    box-shadow: grey 0px -1px 0px 0px inset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_normal_item_right {
    text-align: right;
    padding: 15px 0px 15px 20px;
    box-shadow: grey 0px -1px 0px 0px inset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_normal_item_center {
    text-align: center;
    padding: 15px 0px 15px 0px;
    box-shadow: grey 0px -1px 0px 0px inset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_sparkline {
    text-align: center;
    width: 400px;
    box-shadow: grey 0px -1px 0px 0px inset;
}

/* Button */

.general_button {
    border: transparent;
    background-color: rgb(239, 239, 239);
    text-align: center;
    height: 30px;
    box-shadow: grey 0px 2px 5px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.general_button:hover {
    transform: scale(0.95);
}

.general_button:active {
    background-color: orange;
}

.table_menu_button {
    border: transparent;
    background-color: rgb(239, 239, 239);
    margin: 0 auto;
    height: 30px;
    box-shadow: grey 0px 2px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table_menu_button:hover {
    transform: scale(0.95);
}

.table_menu_button:active {
    background-color: orange;
}

.favourite_button {
    background-image: url("assets/star_border.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    background-color: transparent;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
}

.favourite_button:hover {
    background-image: url("assets/star_border_highlighted.svg");
    background-size: 60px 60px;
}

.favourite_button:active {
    background-size: 50px 50px;
}

.unfavourite_button {
    background-image: url("assets/star_filled.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    background-color: transparent;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
}

.unfavourite_button:hover {
    background-image: url("assets/star_filled_highlighted.svg");
    background-size: 60px 60px;
}

.unfavourite_button:active {
    background-size: 50px 50px;
}

/* Loader */
/* Self made loader */
.loader {
    background-image: url("assets/bitcoin-logo.svg");
    background-size: 100px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    animation: spin 3s linear infinite;
}

/* Animation for the loader */
@keyframes spin {
    0% {
        transform: rotate(0deg) scale(0.7);
    }
    10% {
        transform: rotate(0deg) scale(0.7);
    }
    25% {
        transform: rotate(-90deg) scale(0.7);
    }
    70% {
        transform: rotate(720deg) scale(1.0);
    }
    85% {
        transform: rotate(720deg) scale(1.0);
    }
    100% {
        transform: rotate(0deg) scale(0.7) 
    }
}

/* Container */

.general_button_container {
    margin: 0 auto;
    display: flex;
    justify-items: center;
}

.table_div {
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.table_container {
    margin: 0 auto;
}

/* Use a flex and then split children by 50% */
.table_menu {
    display: flex;
    justify-content: center;
}

.table_menu_left {
    padding: 0px 0px 0px 10px;
    text-align: left;
    width: 50%;
}

.table_menu_right {
    padding: 0px 10px 0px 0px;
    text-align: right;
    width: 50%;
}
